---
layout: layouts/base.njk
---

{% set hidden_tags = ["hidden"] %}
<article>
  <header>
    <hgroup>
      <h1>{{ title | safe }}</h1>
      <p>Published {{ date | date('HUMAN_DATE') }}</p>
    </hgroup>
  </header>
  {{ content | safe }}
</article>
