---
layout: layouts/base.liquid
---

<article>
  <header>
    <hgroup>
      <h1>{{ title }}</h1>
      <p>
        Published {{ date | date: 'HUMAN_DATE' }} {% for tag in tags -%}#{{ tag }}{% endfor %}
      </p>
    </hgroup>
  </header>
  {{ content }}
</article>

{%- if "TODO" == "production" -%}
<article>{%- include giscus_comments.html -%}</article>
{%- endif -%}
