<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}    
    {%- feed_meta -%}
    <link rel="stylesheet" href="{{ "modern-normalize.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "style.css" | relative_url }}">
    {% for tag in page.tags -%}
    {% capture tag_feed %}/feed/by_tag/{{tag}}.xml{% endcapture %}
    <link type="application/atom+xml" rel="alternate" href="{{ tag_feed | absolute_url }}" title="Basti – Posts tagged {{ tag }}">
    {%- endfor %}
  </head>
  <body>
    {{ content }}
    <hr />
    <footer>
      <a href="{{ site.url | relative_url }}">Home</a>
      <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">RSS</a>
      <a href="{{ "privacy.html" | relative_url }}">Privacy policy</a>
      <a href="{{ "colophon.html" | relative_url }}">Colophon</a>
      <a href="https://github.com/swsnr">Github</a>
      <a href="https://www.linkedin.com/in/swsnr/">LinkedIn</a>
      <span>All rights reserved</span>
    </footer>
  </body>
</html>

