---
layout: base
---
{%- if page.modified_date -%}
  {%- assign mdate = page.modified_date | date_to_xmlschema -%}
{%- elsif page.last_modified_at -%}
  {%- assign mdate = page.last_modified_at | date_to_xmlschema -%}
{%- endif -%}
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      Published 
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: date_format }}</time>{%- if mdate -%}, 
      last updated <time datetime="{{ mdate }}" itemprop="dateModified">{{ mdate | date: date_format }}</time>{%- endif -%}
      {%- if page.categories contains 'archive' -%}<strong>(ARCHIVED)</strong>{%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}
      • <a href="https://github.com/{{ site.repository }}/edit/main/{{ page.path }}">Edit on GitHub</a>
    </p>
  </header>

  <main itemprop="articleBody">
    {%- if page.categories contains 'archive' -%}
    <p><strong>This post is archived and will not longer be updated.</strong></p>
    {%- endif -%} 

    {{ content }}
  </main>
</article>
