---
layout: null
title: "404 Not Found"
---

<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ "/style.css" | url(true) }}">
        <link rel="stylesheet" href="{{ "/assets/atom-one-light.css" | url(true) }}" media="screen and (prefers-color-scheme: light)">
        <link rel="stylesheet" href="{{ "/assets/atom-one-dark.css" | url(true) }}" media="screen and (prefers-color-scheme: dark)">
        <title>{{ metas.site }} | {{ title }}</title>
        {%- if isProduction -%}
        <script data-goatcounter="https://swsnr.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
        {%- endif -%}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><strong><a href="{{ "/" | url(true) }}">{{metas.site}}</a></strong></li>
                </ul>
                <ul>
                    {% for link in navLinks %}<li><a href="{{ link.href | url(true) }}">{{ link.text | safe }}</a></li>{% endfor %}
                </ul>
            </nav>
        </header>
        <main>
            <article>
                <header><h1>{{ title }}</h1></header>
                <p>I’m sorry but the page you requested does not exist.</p>
                <p>Return to the <a href="{{ "/" | url(true) }}">Front page</a></p>
            </article>            
        </main>
        <footer>
            <nav>
                <ul>
                    <li><small>{{metas.siteDescription}}</small></li>
                </ul>
                <ul>
                    <li><a href="mailto:{{author.email}}">Send email</a></li>
                    <li><a href="{{ "/feed.xml" | url(true) }}">Subscribe</a></li>
                    <li><a href="https://github.com/swsnr/swsnr.de">Sources of this site</a></li>
                </ul>
            </nav>
        </footer>
  </body>
</html>