---
title: "Home"
layout: "layouts/base.njk"
---
<article>
    <ul>
      <li><a href="https://github.com/swsnr/" rel="me">Github</a></li>
      <li><a href="https://mastodon.social/@swsnr" rel="me">Mastodon</a></li>
      <li><a href="https://orcid.org/0000-0001-5918-3786" rel="me">ORCID</a></li>
      <li><a href="https://www.linkedin.com/in/swsnr/" rel="me">LinkedIn</a></li>
    </ul>
</article>

<article>
    <header><h2>Posts</h2></header>
    {% for post in search.pages("type=post !hidden", "date=desc") -%}
    <section>
        <hgroup>
            <p><a href="{{ post.url | url() }}"><strong>{{post.title}}</strong></a></p>
            <p>
                <small>{{ post.date | date('HUMAN_DATE') }}, {{ post.readingInfo.minutes }} min read</small>
            </p>
        </hgroup>
        {{ post.excerpt | safe }}
        <p><a href="{{ post.url | url() }}"><small>Read more…</small></a></p>
    </section>
    {%- if not forloop.last -%}<hr>{%- endif -%}
    {%- endfor %}
</article>
