name: Test jekyll site
on:
  push:
  pull_request:

jobs:
  test:
    name: Test Jekyll site with htmlproofer
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3'
          rubygems: 'latest'
          bundler-cache: true
          cache-version: 0
      - name: Build with Jekyll
        run: bundle exec jekyll build --drafts
        env:
          JEKYLL_GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
      - name: Check HTML
        # Ignore:
        #
        # - My AUR profile, because it requires a login and returns 401
        # - Matrix.to ID links, because the hash doesn't exist in the returned
        #   HTML (it's evaluated by Javascript apparently).
        # - LinkedIn URLs, because Linkedin doesn't like the HTML Proofer user
        #   agent
        # - Github Documentation pages, because they for some reason return 403?
        run: >
          bundle exec htmlproofer --ignore-urls 'https://aur.archlinux.org/account/swsnr,/www.linkedin.com\/in\//,/matrix.to\/#\//,/(help|docs).github.com/' _site
      - name: Check site
        run: bundle exec jekyll doctor
        env:
          JEKYLL_GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
