@charset "utf-8";

$base-font-family: "serif";

$lm-brand-color: #d33682;
$lm-code-background-color: #fdfdfd;
$lm-link-base-color: #6c71c4;

$dm-brand-color: #d33682;
$dm-code-background-color: #181818;
$dm-link-base-color: #6c71c4;

@import "minima/skins/auto";

